<h1>New Posts</h1>

<form action="/posts" method="post">
    <input type="text" name="title" placeholder="Title">
    <br>
    <input type="text" name="price" placeholder="Price">
    <br>
    <textarea name="" name="description" cols="30" rows="10" placeholder="Description"></textarea>
    <br>
    <input type="text" name="location" placeholder="Location">
    <br>
    <input type="submit">
</form>